{%extends 'main.html.twig'%}

{%block title "Профили настроек"%}

{%block main%}
{%from "profile/macros.html.twig" import list_table as  t%}
<h1>Общие профили</h1>
{{t(public, pR)}}

<h1>Личные профили</h1>
{{t(profiles, pR)}}

{%if is_granted("ROLE_ADMIN")%}
<h1>Все профили</h1>
{%if all%}
<table>
<thead>
	<th>Выбрать</th>
	<th>Описание</th>
<th>Пользователь</th>
<th>Время создания</th>
<th>Удалить</th>
</thead>
{%for profile in all%}
<tr>
<td><button class="choose-profile-button" value="{{profile.setER(pR).id}}" alt="V"></button></td>
	<td><a href="{{path('profile_edit', {'id':profile.id})}}">{{profile.title}}</a></td>
<td>{{profile.author.username}}</td>
<td>{{profile.addTime}}</td>
<td><button class="delete-profile-button" value="{{profile.id}}" data-href="{{path("profile_delete", {'id': profile.id})}}" alt="Удалить"></button></td>
</tr>
{%endfor%}
<table>
{%else%}
Нет профилей
{%endif%}
{%endif%}
<a href="{{path("profile_new")}}">Создать профиль</a>
{%endblock%}

{%block javascripts%}
{{parent()}}
<script src="{{asset("assets/profile/index.js")}}"></script>
{%endblock%}