{% extends 'main.html.twig' %}
{%  use 'profile/_view_widget.html.twig' %}

{% block title %}{{ profileTitle }}{% endblock %}

{% block _profile_duration_widget %}
    <div id="{{ form.vars.id }}">
        {{ form_widget(form.minute) }}:{{ form_widget(form.second) }}
    </div>
{% endblock %}

{% set block_template = 'profile/_settings_group_edit_widget.html.twig' %}

{%  block before_view %}
    {{ form_start(form) }}

    <h1>Редактировать профиль </h1>
    <div>{{ form_errors(form) }}</div>

    {% form_theme form _self %}
{%  endblock %}

{%  block after_view %}
    {{ form_rest(form) }}
    {{  form_end(form) }}
{%  endblock %}