{% extends 'main.html.twig' %}

{% block title %}{{profile.title}}{% endblock %}

{%macro list(f, t, inps)%}
<div class="row">
<h2>{{t}}</h2>
<ul class="list-group">
{%for d, k in inps%}
{%set i=f[k]%}
<li>{{d}}: {{form_widget(i)}}</li>
{%endfor%}
</ul>
</div>
{%endmacro%}

{% block main%}
{{ form_start(form) }}
{{form_errors(form)}}
{%from _self import list as list%}

   <h1>{%block main_heading  "Редактировать профиль"%}</h1>
<div class="row">
<h2>Параметры попытки</h2>
<ul class="list-group">
<li>Описание профиля: {{form_widget(form.description)}}</li>
<li>Количество примеров в попытке: {{form_widget(form.examplesCount)}}</li>
<li>Длительность попытки (мин:сек): {{(form_widget(form.minutes)~":"~form_widget(form.seconds))|raw}}</li>
<li>{{(form_label(form.isDemanding, "Повторять пример до получения правильного ответа")~form_widget(form.isDemanding))|raw}}</li>
</ul>
</div>

{{list(form, "Параметры примеров на сложение", {"Минимальное слагаемое": "addMin", "Максимальное слагаемое": "addMax", "Процент примеров на сложение": "addPerc"})}}
{{list(form, "Параметры примеров на вычитание", {"Минимальное уменьшаемое": "subMin", "Максимальное уменьшаемое": "subMax", "Минимальная разность": "minSub", "Процент примеров на вычитание": "subPerc"})}}
{{list(form, "Параметры примеров на умножение", {"Минимальный множитель": "multMin", "Максимальный множитель": "multMax", "Процент примеров на умножение": "multPerc"})}}
{{list(form, "Параметры примеров на деление", {"Минимальное делимое": "divMin", "Максимальное делимое": "divMax", "Минимальная частное": "minDiv", "Процент примеров на деление": "divPerc"})}}

{%block advanced_parameters%}
{%if is_granted("ROLE_ADMIN")%}
<h2>Параметры для администратора</h2>
<ul>
<li>{{form_label(form.isPublic, "Общий профиль")}}{{form_widget(form.isPublic)}}</li>
<li>{{form_label(form.author, "Создатель профиля")}}{{form_widget(form.author)}}</li>
<li>{{form_label(form.addTime, "Время создания профиля")}}{{form_widget(form.addTime)}}</li>
<ul>
{%endif%}
{%endblock%}

{%block save_button%}
{%if is_granted(canEdit ?? "EDIT", profile)%}
<div>    <button class="btn btn-success">Сохранить</button></div>
{%endif%}

{%if is_granted("COPY", profile)%}
CopyButton
{%endif%}
{%endblock%}
{{ form_end(form) }}

{%block back_link%}
<a href="{{path("profile_index")}}">Вернуться к списку профилей</a>
{%endblock%}

{%block delete_button%}
{%if is_granted("DELETE", profile)%}
{{include("profile/_delete_form.html.twig")}}
{%endif%}
{%endblock%}
{% endblock %}

{%block javascripts%}
{{parent()}}
<script>
if (!P.canEdit) $(".main").find("input, button, select").attr("disabled", true);
</script>
{%endblock%}