{%extends "main.html.twig"%}

{%block form%}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<a href="{{path("profile_index")}}">Вернуться к списку профилей</a>
{%if is_granted("DELETE", profile)%}
{{include("profile/delete_form.html.twig")}}
{%endif%}
{%block javascripts%}
{{parent()}}
<script>
if (!P.canEdit) $("input, button, select").attr("disabled", true);
</script>
{%endblock%}
{%endblock%}