{% extends 'main.html.twig' %}

{% block title %}Профили настроек{% endblock %}

{%  block breadcrumbs %}
    {{  include('profile/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <div>
        {% if not is_granted('ROLE_USER') %}
            <div class="text-white bg-danger mb-3">
                <div class="card-header">Внимание!</div>
                <div class="card-body">
                    <h4 class="card-title">Вы не можете выбирать профили настроек!</h4>
                    <p class="card-text">
                        Пожалуйста,
                        <a href="{{ path("fos_user_security_login") }}">войдите</a>
                        или
                        <a href="{{ path("fos_user_registration_register") }}">зарегистрируйтесь</a>,
                        чтобы иметь возможность изменить текущий профиль настроек или создать свой.
                    </p>
                </div>
            </div>
        {% endif %}

        {% from "profile/list_table.html.twig" import list_table %}
        <div id="public-profiles">
            {{ list_table("Профили по умолчанию", publicProfiles, profileProvider) }}
        </div>

        {% if is_granted('ROLE_USER') and app.user.hasTeacher %}
            <div id="teacher-profiles">
                {{ list_table("Профили учителя", teacherProfiles, profileProvider) }}
            </div>
        {% endif %}

        <div id="user-profiles">
            {{ list_table("Личные профили", userProfiles, profileProvider) }}
        </div>

        {% if is_granted('ROLE_USER') %}
            <div>
                <a class="profile-index-create-button btn btn-active" role="button" href="{{ path("profile_new") }}">
                    Создать новый профиль
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/profile/index.js') }}"></script>
{% endblock %}