{%extends 'base.html.twig'%}

{%block title "Профили настроек"%}

{%block main%}
<h1>Общие профили</h1>
{%if public%}
<table>
<thead>
	<th>Выбрать</th>
	<th>Описание</th>
<th>Время создания</th>
<th>Удалить</th>
</thead>
{%for profile in public%}
<tr>
<td><button class="choose-profile-button" value="{{profile.setER(pR).id}}" alt="V"></button></td>
	<td><a href="{{path('profile_edit', {'id':profile.id})}}">{{profile.title}}</a></td>
<td>{{profile.addTime}}</td>
<td><button class="delete-profile-button" value="{{profile.id}}" data-href="{{path("profile_delete", {'id': profile.id})}}" alt="Удалить"></button></td>
</tr>
{%endfor%}
<table>
{%else%}
Нет профилей
{%endif%}

<h1>Личные профили</h1>
{%if public%}
<table>
<thead>
	<th>Выбрать</th>
	<th>Описание</th>
<th>Время создания</th>
<th>Удалить</th>
</thead>
{%for profile in profiles%}
<tr>
<td><button class="choose-profile-button" value="{{profile.setER(pR).id}}" alt="V"></button></td>
	<td><a href="{{path('profile_edit', {'id':profile.id})}}">{{profile.title}}</a></td>
<td>{{profile.addTime}}</td>
<td><button class="delete-profile-button" value="{{profile.id}}" data-href="{{path("profile_delete", {'id': profile.id})}}" alt="Удалить"></button></td>
</tr>
{%endfor%}
<table>
{%else%}
Нет профилей
{%endif%}
<a href="{{path("profile_new")}}">Создать профиль</a>
{%endblock%}