{% trans_default_domain 'FOSUserBundle' %}

{{include("widget/auth.html.twig", {"h": "h1", "title": "Мгновенный входс помощью социальных сетей"})}}

<h1>Вход</h1>
{% if error %}
<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="login-form auth-form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <table>
        <tr>
            <td> <label for="username">{{ 'resetting.request.username'|trans }}</label></td>
            <td> <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                    required="required" autocomplete="username" /></td>
        </tr>
        <tr>
            <td> <label for="password">{{ 'security.login.password'|trans }}</label></td>
            <td> <input type="password" id="password" class="form-control" name="_password" required="required"
                    autocomplete="current-password" /></td>
        </tr>
    </table>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
    <label class="login-rem" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input class="btn btn-primary btn-active" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

{% block bottom_links %}
<div class="login-links auth-links">
    <a href="{{path("fos_user_resetting_request")}}">Забыли пароль?</a>
    <a href="{{path("fos_user_registration_register")}}">Регистрация</a>
</div>
{% endblock %}

<h1>Не можете войти на сайт?</h1>
<ol>
    <li>Попробуйте воспользоваться сбросом пароля, перейдя по ссылке "Забыли пароль?"</li>
    <li>
        Если вы не уверены, что ваша регистрация на сайте прошла успешно, попробуйте зарегистрироваться при помощи той
        же электронной почты еще раз.
    </li>
    <li>
        Если, при попытке войти, вы получаете сообщение "Электронная почта аккаунта не подтверждена.", то вам также
        потребуется воспользоваться сбросом пароля для потверждения своей электронной почты. <br>
        Дополнительные подробности вы сможете найти на странице регистрации.
    </li>
</ol>