{% extends "main.html.twig" %}

{% block title %}
    Мой профиль
{% endblock %}

{%  block breadcrumbs %}
    {{  include('account/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Профиль</h1>
    {% set currentUser = app.user %}
    <table class="table table-info">
        <tr>
            <th>Фамилия</th>
            <td>{{ currentUser.lastName ?? "-" }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ currentUser.firstName ?? "-" }}</td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td>{{ currentUser.fatherName ?? "-" }}</td>
        </tr>
        <tr>
            <th>Логин</th>
            <td>{{ currentUser.login ?: "-"?? "-" }}</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{{ currentUser.isTeacher ? "Учитель" : "Ученик" }}</td>
        </tr>
        {% if currentUser.isTeacher %}
            <tr>
                <th>Количество учеников</th>
                <td>{{ currentUser.students.count }}</td>
            </tr>
        {% endif %}
        {% if currentUser.hasTeacher %}
            <tr>
                <th>Выбранный учитель</th>
                <td>{{ currentUser.teacher.fio }}</td>
            </tr>
        {% endif %}
    </table>

    <div>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path("account_edit") }}" role="button" class="btn btn-warning">Редактировать профиль</a>
        {% endif %}
            </div>
{% endblock %}