{%extends "main.html.twig"%}

{%block title "Список учеников"%}

{%block main%}
<h1>Список учеников</h1>
<table>
	<thead>
		<tr>
			<th>№</th>
			<th>Фамилия / Имя</th>
			<th>Логин</th>
			<th>Время последней попытки</th>
			<th>Количество завершенных попыток</th>
			<th>Количество решенных примеров</th>
		</tr>
	</thead>
			<tbody>
{%for num, s in sortStudents(students)%}
{%set s=s.setER(uR)%}
				<tr>
					<td>{{num+1}}</td>
					<td>{{s.lastName}} {{s.firstName}}</td>
					<td>{{s.username}}</td>
{%set a=s.attempts.last%}
					<td>{{a ? a.addTime : "-"}}</td>
					<td><a href="{{path("student_attempts", {"id": s.id})}}">{{s.doneAttemptsCount}}</a></td>
					<td><a href="{{path("student_examples", {"id": s.id})}}">{{s.solvedExamplesCount}}</a></td>
				</tr>
{%endfor%}
			</tbody>
</table>
{%endblock%}

{%block javascripts%}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
pageLength: 50,
//order: [1, "asc"],
lengthMenu: [25, 50, 100, 250],
language: {    
"decimal":        "",    "emptyTable":     "Учеников пока нет",    "info":           "Показано с _START_ по _END_ из _TOTAL_ учеников",    "infoEmpty":      "Показано с _START_ по _END_ из _TOTAL_ учеников",   "infoFiltered":   "(Отфильтровано из _MAX_ учеников)",    "infoPostFix":    "",    "thousands":      ",",    "lengthMenu":     "Показать _MENU_ учеников на странице",    "loadingRecords": "Идёт загрузка...",    "search":         "Найти ученика:",    "zeroRecords":    "Соответствующих записей не найдено",    
"paginate": {        "first":      "В начало",        "last":       "В конец",        "next":       "Вперед",        "previous":   "Назад"    },
    "aria": {        "sortAscending":  ": Нажмите, чтобы отсортировать по возрастанию",        "sortDescending": ": Нажмите, чтобы отсортировать по убыванию"    }
}
});
</script>
{%endblock%}