{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{{include("@FOSUser/email-style.html.twig")}}

<div class="body">
<h2>Приветствуем, {{user.username}}</h2>
<p>
Для сброса пароля, пожалуйста, пройдите по <a href="{{confirmationUrl}}">ссылке</a> 
</p>

<p>
<em>
С наилучшими пожеланиями,<br>
команда сайта.
</em>
</p>
</div>
{% endblock %}
