{%extends 'frontend/division.html.twig'%}

{%block main%}
<h1>Общие профили</h1>
{%if publicProfiles%}
<table>
<thead>
	<th>Выбрать</th>
	<th>Описание</th>
<th>Время создания</th>
{%set can=rightsChecker.canDeletePublicProfiles()%}
{%if can%}
<th>Удалить</th>
{%endif%}
</thead>

{%for profile in publicProfiles%}
<tr>
<td><button class="chooseProfileButton" value="{{profile.getId()}}" alt="V"></button></td>
{%set d=profile.getDescription()%}
	<td><a href="{{path('profileById', {'id':profile.getId()})}}">{{d}}</a></td>
<td>{{profile.getCreateTime()}}</td>
{%if can%}
<td><button class="deleteProfileButton" value="{{profile.getId()}}" data-href="{{path('deleteProfile', {'id': profile.getId()})}}" alt="Удалить {{d}}"></button></td>
{%endif%}
</tr>
{%endfor%}
<table>
{%else%}
Нет профилей
{%endif%}

<h1>Личные профили</h1>
{%if userProfiles%}
<table>
<thead>
	<th>Выбрать</th>
	<th>Описание</th>
<th>Время создания</th>
<th>Удалить</th>
</thead>

{%for profile in userProfiles%}
<tr>
<td><button class="chooseProfileButton" value="{{profile.getId()}}" alt="V"></button></td>
{%set d=profile.getDescription()%}
	<td><a href="{{path('profileById', {'id':profile.getId()})}}">{{d}}</a></td>
<td>{{profile.getCreateTime()}}</td>
<td><button class="deleteProfileButton" value="{{profile.getId()}}" data-href="{{path('deleteProfile', {'id': profile.getId()})}}" alt="Удалить {{d}}"></button></td>
</tr>
{%endfor%}
<table>
{%else%}
Нет профилей
{%endif%}
<hr>
<button class="createProfileButton" data-href="{{path('createProfile')}}" alt="Создать новый профиль"></button>
{%endblock%}

{%block javaScript%}
{{parent()}}
<script type="text/javascript" src="/assets/helper.js"></script>
<script type="text/javascript" src="/assets/frontend/profiles_list.js"></script>
{%endblock%}