{% extends "main.html.twig" %}

{% block title %}
    Список учителей
{% endblock %}

{%  block breadcrumbs %}
    {{  include('teacher/breadcrumbs/index.html.twig') }}
{% endblock %}

{% block main %}
    <h1>Список учителей</h1>

    <table class="table table-info">
        <thead>
        <tr>
            <th>№</th>
            <th>Ф.И.О</th>
            <th>Логин</th>
            <th>Количество учеников</th>
            <th>Дата регистрации</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for number, teacher in teachers %}
            <tr>
                <td>{{ number + 1 }}</td>
                <td>{{ teacher.fio }}</td>
                <td>{{ teacher.username ?? "-" }}</td>
                <td>{{ teacher.realStudents.count }}</td>
                <td>{{ teacher.registeredAt.dateFormat }}</td>
                <td>
                    {% if not app.user.isStudentOf(teacher) %}
                        <a href="{{ path("teacher_appoint", {"id": teacher.id}) }}">Выбрать</a>
                    {% else %}
                        <a href="{{ path("teacher_disappoint") }}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/teacher/index.js') }}"></script>
{% endblock %}