{% extends 'example/index.html.twig' %}

{% block title %}Visit index{% endblock %}

{% block body %}
    <h1>Visit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>RouteName</th>
                <th>Method</th>
                <th>StatusCode</th>
                <th>Uri</th>
                <th>AddTime</th>
                <th>Session id</th>
                <th>Country</th>
                <th>Region</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.id }}</td>
                <td>{{ visit.session.user.username}}</td>
                <td>{{ visit.routeName}}</td>
                <td>{{ visit.method}}</td>
                <td>{{ visit.statusCode}}</td>
                <td><a href="{{visit.uri}}">{{ visit.uri }}</a></td>
                <td>{{ visit.addTime ? visit.addTime|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="{{path("session_show", {"id": visit.session.id})}}">{{ visit.session.id}}</td>
{%set ip=visit.session.ip%}
                <td>{{ ip and ip.country ? ip.country : "-"}}</td>
                <td>{{ ip and ip.region ? ip.region :  "-"}}</td>
                <td>{{ ip and ip.city ? ip.city : "-"}}</td>
                <td>
                    <a href="{{ path('session_visits', {'id': visit.session.id}) }}">Visits of session ({{visit.session.visits.count}})</a>
                    <a href="{{ path('visit_show', {'id': visit.id}) }}">show</a>
                    <a href="{{ path('visit_edit', {'id': visit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%block back_link%}
    <a href="{{ path('visit_new') }}">Create new</a>
{%endblock%}
{% endblock %}