{% extends 'base.html.twig' %}

{% block title %}Visit index{% endblock %}

{% block body %}
    <h1>Visit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>RouteName</th>
                <th>Method</th>
                <th>StatusCode</th>
                <th>Uri</th>
                <th>AddTime</th>
                <th>Session id</th>
                <th>Country</th>
                <th>Region</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
{#                    <a href="{{ path('session_visits', {'id': visit.session.id}) }}">Visits of session ({{visit.session.visits.count}})</a>
                    <a href="{{ path('visit_show', {'id': visit.id}) }}">show</a>
                    <a href="{{ path('visit_edit', {'id': visit.id}) }}">edit</a>
#}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
       </tbody>
    </table>

{%block back_link%}
    <a href="{{ path('visit_new') }}">Create new</a>
{%endblock%}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
searching: false,
sorting: false,
data: {{processVisits(visits)|reverse|json_encode|raw}},
deferRender: true,
pageLength: 50,
});
</script>
{% endblock %}