{% trans_default_domain 'FOSUserBundle' %}

<div class="auth-form register-form">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<table>
<tr>
<td>Логин</td>
<td>
<div class="error">{{form_errors(form.username)}}</div>
{{form_widget(form.username)}}
</td>
</tr>
<tr>
<td>Электронная почта</td>
<td>
<div class="error">{{form_errors(form.email)}}</div>
{{form_widget(form.email)}}
</td>
</tr>
<tr>
<td>Пароль</td>
<td>
<div class="error">{{form_errors(form.plainPassword.first)}}</div>
{{form_widget(form.plainPassword.first)}}
</td>
</tr>
<tr>
<td>Повторите пароль</td>
<td>
<div class="error">{{form_errors(form.plainPassword.second)}}</div>
{{form_widget(form.plainPassword.second)}}
</td>
</tr>
</table>
{{form_widget(form)}}

    <div>
        <input type="submit" class="btn  " value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>

<div class="auth-links">
<a href="{{path("fos_user_security_login")}}">Вход</a>
</div>