{% trans_default_domain 'FOSUserBundle' %}

{{include("widget/auth.html.twig", {"h": "h1", "title": "Мгновенная регистрация с помощью"})}}

<h1>Регистрация</h1>

<div class="auth-form register-form">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<table>
<tr>
<td>Логин</td>
<td>
<div class="error">{{form_errors(form.username)}}</div>
{{form_widget(form.username)}}
</td>
</tr>
<tr>
<td>
Электронная почта<br>
<small>
<em>
На неё будет выслано письмо<br>
Для подтверждения регистрации
</em>
</small>
</td>
<td>
<div class="error">{{form_errors(form.email)}}</div>
{{form_widget(form.email)}}
</td>
</tr>
<tr>
<td>Пароль</td>
<td>
<div class="error">{{form_errors(form.plainPassword.first)}}</div>
{{form_widget(form.plainPassword.first)}}
</td>
</tr>
<tr>
<td>Повторите пароль</td>
<td>
<div class="error">{{form_errors(form.plainPassword.second)}}</div>
{{form_widget(form.plainPassword.second)}}
</td>
</tr>
</table>
{{form_widget(form)}}

    <div>
        <input type="submit" class="btn  " value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>

<div class="auth-links">
<a href="{{path("fos_user_security_login")}}">Вход</a>
</div>

<h3>Не пришло письмо подтверждения регистрации?</h3>
<ol>
<li>Подождите в течение 5 минут, а затем проверьте папку "Спам" вашего почтового ящика.</li>
<li>Воспользуйтесь <a href="{{path("fos_user_resetting_request")}}">сбросом пароля</a> для подтверждения вашей почты.</li>
{%set email=FEEDBACK_EMAIL%}
<li>Напишите нам по адресу <a href="mailto:{{email}}">{{email}}</a>. Мы активируем ваш аккаунт вручную в самое короткое время!</li>
</ol>

<p>
<b>Спасибо, что выбрали наш сервис!</b>
</p>

