<h2>{{ title }}</h2>

<table class="table table-info">
    <thead>
    <tr>
        <th>№</th>
        <th>Задание</th>
        <th>Сколько решено примеров?</th>
        <th>Сколько выполнено попыток?</th>
        <th>Оценка</th>
        <th>Начало решения</th>
        <th>Окончание решения</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for number, contractorResult in sortByDateTime(tasks, 'task.addTime')|reverse %}
        {% set task = contractorResult.task %}
        <tr>
            <td>{{ number + 1 }}</td>
            <td><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></td>
            <td>{{ contractorResult.rightExamplesCount }} из {{ task.totalExamplesCount }}</td>
            <td>{{ contractorResult.doneAttemptsCount }} из {{ task.timesCount }}</td>
            <td>{{ contractorResult.rating }}</td>
            <td>{{ task.addTime }}</td>
            <td>{{ task.limitTime }}</td>
            <td>
                {% if not contractorResult.isDone %}
                    <a class="btn btn-success" href="{{ path('homework_solve', {'id': task.id}) }}" role="button">Выполнить</a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>