<h2>{{ title }}</h2>

<table class="table table-info">
    <thead>
    <tr>
        <th>№</th>
        <th>Задание</th>
        <th>Количество повторений</th>
        <th>Время добавления</th>
        <th>Время окончания</th>
        <th>Попытки (Выполненные / Начатые)</th>
        <th>Средняя оценка (Выполненные / Начатые)</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for number, task in sortByCreationTime(tasks)|reverse %}
        <tr>
            <td>{{ number + 1 }}</td>
            <td><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></td>
            <td>{{ task.timesCount }}</td>
            <td>{{ task.addTime }}</td>
            <td>{{ task.limitTime }}</td>
            <td>
                {{ -1 }} / {{ -1 }}
            </td>
            <td>-1</td>
            <td>
                {# TODO check that task is not solved#}
                {% if true %}
                    <a class="btn btn-success" href="{{ path('homework_solve', {'id': task.id}) }}" role="button">Выполнить</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>