<p>
    <h4>Ученик</h4>
    <ol class="list-group">
        {%if not is_granted("IS_AUTHENTICATED_REMEMBERED")%}
        <li><a href="{{path("fos_user_security_login")}}">Войдите</a> или <a href="{{path("fos_user_registration_register")}}">зарегистрируйтесь</a>.</li>
        {%endif%}
        <li><a href="{{path("profile_index")}}">Выберете подходящий профиль настроек или создайте свой</a>.</li>
        <li><a href="{{path("attempt_new")}}">Начните развивать свои арифметические навыки!</a>.</li>
        <li>Все достигнутые вами результаты будут храниться <a href="{{path("attempt_index")}}">в архиве попыток</a>.</li>
        <li><a href="{{path("account_edit")}}">Заполните</a> <a href="{{path("account_index")}}">профиль</a>.</li>
        <li>Также вы можете <a href="{{path("teacher_index")}}">выбрать учителя</a>, который будет видеть достигнутые
            вами результаты. А вам будут доступны созданные им профили настроек.</li>
        <li>Кроме того, учитель может создавать для вас домашние задания, которые вы можете начать выполнять
            <a href="{{ path('homework_index') }}">здесь.</a></li>
    </ol>

    <h4>Учитель</h4>
    <ol>
        <li>
            Для того, чтобы ученики могли выбирать вас в качестве учителя, а также для получения возможности
            самостоятельного создания учеников и домашних заданий отметьте флажок "Учитель" на
            странице <a href="{{path("account_edit")}}">редактирования
                профиля.</a>
        </li>
        <li>После того, как вы установите флажок "Учитель", ваш аккаунт начнет отображаться в <a href="{{path('teacher_index')}}">списке
                учителей,</a> где вас в качестве учителя может выбрать любой зарегистрированный ученик.</li>
        <li>Просмотреть список учеников и их результаты вы можете в <a href="{{path('student_index')}}">списке
                учеников.</a></li>
        <li>На странице <a href="{{ path('task_index') }}">задания</a> вы можете просмотреть все созданные вами
            домашние задания, а также полную информацию по их выполнению вашими учениками.</li>
        <li>Самостоятельно создать подчиненные аккаунты для учеников вы можете <a href="{{path("child_new")}}">здесь.</a><br>
            Это может быть полезно, когда вам требуется создать большое количество аккаунтов для учеников, например,
            для их размещения в компьютерном классе. При этом не требуется никакой привязки подчиненных аккаунтов к
            электронной почте или социальным сетям.
        </li>
        <li>Чтобы зарегистрироваться на сайте при помощи аккаунта созданного ученика, воспользуйтесь ссылкой "Войти как
            ученик",
            отображаемой в столбце "Действия" <a href="{{path("student_index")}}">списка учеников.</a></li>
        {#
        <li>
            <a href="{{path("account_recharge")}}">Не забудьте пополнить счёт на сайте</a>
            и по окончании демонстрационного периода <a href="{{path("account_pay")}}">оплатите сервис</a>:
            всего {{PRICE}} руб/мес за неограниченное число профилей и примеров!
        </li>
        #}
    </ol>
</p>