{{ form_start(form) }}
{%  for field in ['timesCount', 'addTime', 'limitTime'] %}
{{ form_row(form[field]) }}
{%  endfor %}

{% embed 'profile/list_table.html.twig' with {'title': 'Профили по умолчанию', 'profiles': publicProfiles} %}
    {% block right_table_headers %}
    <th>Выбрать</th>
    {% endblock %}

    {% block right_table_body %}
    <td>
        <input type="radio" name="task[profile]" value="{{  profile.id }}" {{ profileProvider.isCurrentProfile(profile) ? 'checked' : '' }}>
    </td>
    {% endblock %}
{% endembed %}

{% embed 'profile/list_table.html.twig' with {'title': 'Личные профили', 'profiles': userProfiles} %}
    {% block right_table_headers %}
        <th>Выбрать</th>
    {% endblock %}

    {% block right_table_body %}
        <td>
            <input type="radio" name="{{  form.profile.vars.full_name }}" value="{{  profile.id }}" {{ profileProvider.isCurrentProfile(profile) ? 'checked' : '' }}>
        </td>
    {% endblock %}
{% endembed %}
{{ form_end(form) }}