{% extends "task/base.html.twig" %}

{%block title "Архив попыток ("~contractor.FLName~")"%}

{% block main %}
<h1>Архив попыток</h1>
{{ include("attempt/index_table.html.twig") }}
{% endblock %}

{% block bottom_links %}
<a href="{{ path('task_show', {'id': task.id}) }}">Назад к просмотру задания</a>
{{ parent() }}

{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
searching: false,
sorting: false,
data: {{processAttempts(attempts)|reverse|json_encode|raw}},
deferRender: true,
pageLength: 50,
language: {{include("attempt/language.json.twig")}}
});
</script>
{% endblock %}