{% macro list_table(title, tasks, taskRepository) %}
    <h2>{{ title }}</h2>

    <table class="table table-info">
        <thead>
        <tr>
            <th>№</th>
            <th>Профиль настроек</th>
            <th>Сколько нужно выполнить попыток?</th>
            <th>Сколько нужно будет решить примеров?</th>
            <th>Когда начинается задание?</th>
            <th>Когда заканчивается задание?</th>
            <th>Сколько учеников выполнило задание?</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for number, taskResult in sortByDateTime(tasks, 'task.limitTime')|reverse %}
            {%  set task = taskResult.task %}
            <tr>
                <td>{{ number+1 }}</td>
                <td>
                    <a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a>
                </td>
                <td>{{ task.timesCount }}</td>
                <td>{{  task.totalExamplesCount }}</td>
                <td>{{ task.addTime }}</td>
                <td>{{ task.limitTime }}</td>
                <td>
                    {{ taskResult.doneContractorsCount }} из {{ task.contractors.count }}
                </td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">Просмотреть</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}