{% extends 'main.html.twig' %}

{% block title %}
    Задание ({{ task.settings.description }})
{% endblock %}

{% block main %}
    <h1>Задание</h1>

    <table class="table table-light">
        <tbody>
        <tr>
            <th>Настройки</th>
            <td><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></td>
        </tr>
        <tr>
            <th>Количество повторений</th>
            <td>{{ task.timesCount }}</td>
        </tr>
        <tr>
            <th>Время начала</th>
            <td>{{ task.addTime }}</td>
        </tr>
        <tr>
            <th>Время окончания</th>
            <td>{{ task.limitTime }}</td>
        </tr>
        </tbody>
    </table>

    <h1>Ученики</h1>

    {% include 'task/contractors_table.html.twig' with {'title': 'Не выполнившие домашнее задание', 'contractors': notSolvedTaskContractors} %}
    {% include 'task/contractors_table.html.twig' with {'title': 'Выполнившие домашнее задание', 'contractors': solvedTaskContractors} %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/task/show.js') }}"></script>
{% endblock %}