{% extends 'main.html.twig' %}

{% set task = taskResult.task %}
{% block title %}
    Домашнее задание ({{ task.settings.description }})
{% endblock %}

{% block breadcrumbs %}
    {{ include('task/breadcrumbs/show.html.twig') }}
{% endblock %}

{% block main %}
    {{ parent() }}

    <table class="table table-light">
        <tbody>
        <tr>
            <th>Настройки</th>
            <td><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></td>
        </tr>
        <tr>
            <th>Количество повторений</th>
            <td>{{ task.timesCount }}</td>
        </tr>
        <tr>
            <th>Время начала</th>
            <td>{{ task.addTime }}</td>
        </tr>
        <tr>
            <th>Время окончания</th>
            <td>{{ task.limitTime }}</td>
        </tr>
        <tr>
            <th>Процент выполнения</th>
            <td>{{ taskResult.donePercent }}%</td>
        </tr>
        </tbody>
    </table>

    <h1>Ученики</h1>
    <div id="active-contractors">
        {% include 'task/contractors_table.html.twig' with {'title': 'Не закончившие выполнение', 'contractors': notSolvedTaskContractors} %}
    </div>

    {% include 'task/contractors_table.html.twig' with {'title': 'Закончившие выполнение', 'contractors': solvedTaskContractors} %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/task/show.js') }}"></script>
{% endblock %}