{% extends 'task/base.html.twig' %}

{% block title %}Задание ({{ task.settings.description }}){% endblock %}

{% block main %}
<h1>Задание</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Настройки</th>
            <td><a href="{{ path('settings_show', {'id': task.settings.id}) }}">{{ task.settings.description }}</a></td>
        </tr>
        <tr>
            <th>Количество повторений</th>
            <td>{{ task.timesCount }}</td>
        </tr>
        <tr>
            <th>Время начала</th>
            <td>{{ task.addTime }}</td>
        </tr>
        <tr>
            <th>Время окончания</th>
            <td>{{ task.limitTime }}</td>
        </tr>
    </tbody>
</table>

{% from 'task/contractors_table.html.twig' import contractors_table as contractors %}
<h1>Ученики</h1>
{{ contractors('Выполнившие задания', task, finishedTaskContractors, attemptRepository) }}
{{ contractors('Не выполнившие задания', task, notFinishedTaskContractors, attemptRepository) }}
{% endblock %}

{% block bottom_links %}
<a href="{{ path('task_edit', {'id': task.id}) }}">Редактировать задание</a>
{{ parent() }}
{% endblock %}

{%block javascripts%}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
    $("table.contractors").DataTable({
        pageLength: 25,
                lengthMenu: [25, 50, 100, 250],
        language: {{ include("student/language.json.twig") }}
    });
</script>
{%endblock%}