{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Count of attempts</th>
                <th>AddTime</th>
                <th>Last time</th>
                <th>Sid</th>
                <th>Country</th>
                <th>Region</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.user.username}}</td>
                <td>{{ session.user.email}}</td>
                <td>{{ session.attempts.count}}</td>
                <td>{{ session.addTime ? session.addTime.dbFormat : "" }}</td>
                <td>{{ session.lastTime ? session.lastTime.dbFormat : "" }}</td>
                <td>{{ session.sid }}</td>
                <td>{{ session.ipInfo.countryName ?? "-"}}</td>
                <td>{{ session.ipInfo.stateProv ?? "-"}}</td>
                <td>{{ session.ipInfo.city ?? "-"}}</td>
<td>
                    <a href="{{ path('session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%block bottom_links%}
    <a href="{{ path('session_new') }}">Create new</a>
{%endblock%}
{% endblock %}

{%block javascripts%}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
order: [5, "desc"],
});
</script>
{%endblock%}