{% extends 'base.html.twig' %}

{% block title %}Settings index{% endblock %}

{% block body %}
    <h1>Settings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AddTime</th>
                <th>Duration</th>
                <th>ExamplesCount</th>
                <th>AddFMin</th>
                <th>AddFMax</th>
                <th>AddSMin</th>
                <th>AddSMax</th>
                <th>AddMin</th>
                <th>AddMax</th>
                <th>SubFMin</th>
                <th>SubFMax</th>
                <th>SubSMin</th>
                <th>SubSMax</th>
                <th>SubMin</th>
                <th>SubMax</th>
                <th>MultFMin</th>
                <th>MultFMax</th>
                <th>MultSMin</th>
                <th>MultSMax</th>
                <th>MultMin</th>
                <th>MultMax</th>
                <th>DivFMin</th>
                <th>DivFMax</th>
                <th>DivSMin</th>
                <th>DivSMax</th>
                <th>DivMin</th>
                <th>DivMax</th>
                <th>AddPerc</th>
                <th>SubPerc</th>
                <th>MultPerc</th>
                <th>DivPerc</th>
                <th>Description</th>
                <th>IsDemanding</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.addTime ? setting.addTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting.duration }}</td>
                <td>{{ setting.examplesCount }}</td>
                <td>{{ setting.addFMin }}</td>
                <td>{{ setting.addFMax }}</td>
                <td>{{ setting.addSMin }}</td>
                <td>{{ setting.addSMax }}</td>
                <td>{{ setting.addMin }}</td>
                <td>{{ setting.addMax }}</td>
                <td>{{ setting.subFMin }}</td>
                <td>{{ setting.subFMax }}</td>
                <td>{{ setting.subSMin }}</td>
                <td>{{ setting.subSMax }}</td>
                <td>{{ setting.subMin }}</td>
                <td>{{ setting.subMax }}</td>
                <td>{{ setting.multFMin }}</td>
                <td>{{ setting.multFMax }}</td>
                <td>{{ setting.multSMin }}</td>
                <td>{{ setting.multSMax }}</td>
                <td>{{ setting.multMin }}</td>
                <td>{{ setting.multMax }}</td>
                <td>{{ setting.divFMin }}</td>
                <td>{{ setting.divFMax }}</td>
                <td>{{ setting.divSMin }}</td>
                <td>{{ setting.divSMax }}</td>
                <td>{{ setting.divMin }}</td>
                <td>{{ setting.divMax }}</td>
                <td>{{ setting.addPerc }}</td>
                <td>{{ setting.subPerc }}</td>
                <td>{{ setting.multPerc }}</td>
                <td>{{ setting.divPerc }}</td>
                <td>{{ setting.description }}</td>
                <td>{{ setting.isDemanding ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('settings_show', {'id': setting.id}) }}">show</a>
                    <a href="{{ path('settings_edit', {'id': setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="35">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('settings_new') }}">Create new</a>
{% endblock %}
