{% extends 'index/homepage/guest.html.twig' %}

{% block title %}
    Главная страница
{% endblock %}

{% block main %}
    <h1>
        Здравствуйте, {{ app.user.callName }}!<br>
        {{ app_name }}<br>
        Сервис по улучшению навыков счёта
    </h1>

    <div>
        {% if not app.user.hasTeacher %}
            <h1>Выберите учителя</h1>

            {{ render(controller('App\\Controller\\TeacherController::teachers')) }}
        {% else %}
            <h1>Домашние задания</h1>

            {{ render(controller('App\\Controller\\HomeworkController::homework')) }}
        {% endif %}
    </div>

    <div>
        <h1>Архив попыток</h1>

        {{ include("attempt/attempts_widget.html.twig") }}
    </div>

    <div>
        <h1>Профили настроек</h1>

        {{ render(controller('App\\Controller\\ProfileController::profiles')) }}
    </div>

    {% block share %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/homepage/student.js') }}"></script>
    {{ block('share_javascripts') }}
{% endblock %}