{%extends 'base.html.twig'%}

{%block main%}
<h1>Архив попыток</h1>
{%if attempts%}
<table>
<thead>
	<th>№</th>
	<th>Начало попытки</th>
	<th>Конец попытки</th>
	<th>Примеров в попытке</th>
	<th>Решено примеров</th>
	<th>Ошибок</th>
	<th>Оценка</th>
</thead>

{%for att in attempts%}
<tr>
	<td><a href="{{path("attempt_show", {'id': att.id})}}">{{attR.getTitle(att)}}</a></td>
	<td>{{att.addTime}}</td>
	<td>{{attR.getFinishTime(att)}}</td>
	<td>{{att.examples.count()}}</td>
	<td>{{attR.getSolvedExamplesCount(att)}}</td>
	<td>{{attR.getErrorsCount(att)}}</td>
	<td>{{attR.getRating(att)}}</td>
</tr>
{%endfor%}
<table>
{%else%}
Нет начатых попыток
{%endif%}
{%endblock%}