{%extends 'base.html.twig'%}

{%block main%}
<h1>Архив попыток</h1>
{%if attempts%}
<table>
<thead>
	<th>№</th>
	<th>Начало попытки</th>
	<th>Конец попытки</th>
	<th>Примеров в попытке</th>
	<th>Решено примеров</th>
	<th>Ошибок</th>
	<th>Оценка</th>
</thead>

{%for att in attempts%}
{%set att=att.setER(attR)%}
<tr>
	<td><a href="{{path("attempt_show", {'id': att.id})}}">{{att.title}}</a></td>
	<td>{{att.addTime}}</td>
	<td>{{att.finishTime}}</td>
	<td>{{att.examplesCount}}</td>
	<td>{{att.solvedExamplesCount}}</td>
	<td>{{att.errorsCount}}</td>
	<td>{{att.rating}}</td>
</tr>
{%endfor%}
<table>
{%else%}
Нет начатых попыток
{%endif%}
{%endblock%}