{%extends 'base.html.twig'%}

{%block title att.title%}

{%block main%}
<h1>Статистика</h1>
<ul>
	<li>Начало попытки: {{att.addTime}}</li>
	<li>Конец попытки: {{att.finishTime}}</li>
	<li>Примеров в попытке: {{att.examplesCount}}</li>
	<li>Решено примеров: {{att.solvedExamplesCount}}</li>
<li>Ошибок: {{att.errorsCount}}</li>
	<li>Оценка: {{att.rating}}</li>
</ul>

<h1>Примеры</h1>
<table>
	<thead>
		<th>№</th>
		<th>Пример</th>
		<th>Ответ</th>
	</thead>
	{%for ex in examples|reverse%}
{%if not ex.isRight%}
<tr>
<td colspan="3">
<h6>{{(ex.answer is not null) ? "Ошибка №"~exR.getErrorNum(ex) : "Пример не решен"}}</h6>
</td>
</tr>
{%endif%}
	<tr>
		<td>{{exR.getNumber(ex)}}</td>
		<td>{{ex}}</td>
		<td>{{ex.answer ?? '-'}}</td>
	</tr>
{%else%}
<tr>
<td colspan="3">Нет Примеров в попытке</td>
</tr>
	{%endfor%}
</table>
{%endblock%}