<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
<ul>
<li><a href="{{path("homepage")}}">На главную</a></li>
<li><a href="{{path("attempt_index")}}">Архив</a></li>
<li><a href="{{path("attempt_last")}}">Последняя попытка</a></li>
<li><a href="{{path("attempt_new")}}">Новая попытка</a></li>
<li><a href="{{path("profile_index")}}">Профили настроек</a></li>
<li><a href="{{path("fos_user_security_login")}}">Войти</a></li>
<li><a href="{{path("fos_user_registration_register")}}">Зарегистрироваться</a></li>
<li><a href="{{path("fos_user_security_logout")}}">Выйти</a></li>
</ul>
        {% block body %}
{%block main ""%}
{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
