<!DOCTYPE html>

<html lang="ru">
<head>
    {% block meta %}
        <meta name="description" content="3000 примеров по математике">
        <meta name="description" content="решение примеров">
        <meta name="description" content="примеры по математике">
        <meta name="description" content="решение онлайн">
        <meta name="description" content="примеры онлайн">
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="yandex-verification" content="aab601ee6924bd0d"/>
    <meta name='wmail-verification' content='a9e3c6258270a271647eefa4e21bc4fb'/>
    <title>
        {% block base_title %}
            {% block title %}Welcome!{% endblock %} || {{ app_name }} || Решение примеров online
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href=" {{ asset('build/css/app.css') }}">
    {% endblock %}
    <script>
        var P ={{ (javascriptParameters + (jsParams ?? {}))|json_encode|raw }};
    </script>
</head>

<body>
{% block page %}
    {% block body %}
        <div class="container">
            {% block nav %}
                <nav class="navbar navbar-expand-lg main-menu">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                            aria-controls="navbarColor01"
                            aria-expanded="false" aria-label="Открыть меню">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('homepage') }}">
                                    На главную
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('attempt_index') }}">
                                    Архив попыток
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile_index') }}">
                                    Профили настроек
                                </a>
                            </li>

                            {% if hasActualAttempt %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('attempt_last') }}">
                                        Вернуться к последней попытке
                                    </a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('attempt_new') }}">
                                    Начать новую попытку
                                </a>
                            </li>

                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle account-button" data-toggle="dropdown" href="#"
                                       role="button"
                                       aria-haspopup="true" aria-expanded="false">Аккаунт</a>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ path("account_index") }}">Просмотреть
                                            профиль</a>

                                        {% if is_granted('ROLE_TEACHER') %}
                                            <a class="dropdown-item" href="{{ path("student_index") }}">Список
                                                учеников</a>
                                            <a class="dropdown-item" href="{{ path("task_index") }}">Домашнее
                                                задание</a>
                                        {% endif %}

                                        {% if is_granted('SHOW_HOMEWORKS') %}
                                            <a class="dropdown-item" href="{{ path("homework_index") }}">
                                                Домашнее задание
                                            </a>
                                        {% endif %}

                                        {% if is_granted('ROLE_STUDENT') %}
                                            <a class="dropdown-item" href="{{ path("teacher_index") }}">Выбрать
                                                учителя</a>
                                        {% endif %}
                                    </div>
                                </li>

                                {% if is_granted("ROLE_ADMIN") %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Панель управления</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path("admin_index") }}">Статистика</a>
                                            <a class="dropdown-item" href="{{ path("user_index") }}">Пользователи</a>
                                            <a class="dropdown-item" href="{{ path("session_index") }}">Сессии</a>
                                            <a class="dropdown-item" href="{{ path("ip_index") }}">Ip-адреса</a>
                                            <a class="dropdown-item" href="{{ path("visit_index") }}">Посещения</a>
                                            <a class="dropdown-item" href="{{ path("transfer_index") }}">Платежи</a>
                                        </div>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <a onclick="return confirm('Вы действительно хотите выйти?')" class="nav-link"
                                       href="{{ path("fos_user_security_logout") }}">
                                        Выход
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                                        Войти
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                                        Зарегистрироваться
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            {% endblock nav %}

            <nav>
                {% block breadcrumbs %}{% endblock %}
            </nav>

            <main>
                {% block main %}{% endblock %}
            </main>

            {# TODO refactor#}
            {% block guest_auth %}
                {{ include("widget/guest_auth.html.twig", {"h": "h4"}) }}
            {% endblock %}
        </div>
    {% endblock body %}

    <footer class="{#navbar-fixed-bottom#}">
        <div>
            {% set y=date()|date("Y") %}
            <em>
                © {{ y != 2018 ? "2018 - " : "" }} {{ y }}, VSH-Studio
            </em>
        </div>
    </footer>
{% endblock page %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>