<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
    <link rel="stylesheet" href="css/bootstrap.min.css">
{% endblock %}
<script>
var P={{(jsParams ?? {})|json_encode|raw}};
</script>
    </head>
    <body>
{%block page%}
        {% block body %}
<div class="container">
{%block nav%}
            <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Навигация</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Навигация">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
{%macro item(r, t)%}
                    <li class="nav-item {#active#}">
                      <a class="nav-link" href="{{path(r)}}">{{t}} {#<span class="sr-only">(current)</span>#}</a>
                    </li>
{%endmacro%}

{%from _self import item as item%}
{{item("homepage", "На главную")}}
{{item("attempt_index", "Архив попыток")}}
{%if hasActualAttempt%}
{{item("attempt_last", "Последняя попытка")}}
{%endif%}
{{item("attempt_new", "Новая попытка")}}
{{item("profile_index", "Профили настроек")}}

{%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle account-button" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Аккаунт</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{path("account_recharge")}}">Пополнить счёт <em>({{user.money}} рублей)</em></a>
                    <a class="dropdown-item" href="{{path("account_pay")}}">Оплатить сервис <em>({{user.remainedTime.roundDaies}}  дн.)</em></a>
                  </div>
                </li>
{{item("fos_user_security_logout", "Выход")}}
{%else%}
{{item("fos_user_security_login", "Вход")}}
{{item("fos_user_registration_register", "Регистрация")}}
{%endif%}
                  </ul>
                </div>
              </nav>
            </div>

{%if is_granted("ROLE_ADMIN")%}
<ul>
<li><a href="{{path("user_index")}}">Пользователи</a>
<li><a href="{{path("code_index")}}">Коды</a>
</ul>
{%endif%}
{%endblock%}

{%block main ""%}
{% endblock body%}
</div>
{%endblock%}

        {% block javascripts %}
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
<script>
var d={{remainedDaies}};
c=d == 0 ? "red" : d <=7 ? "orange" : d <= 14 ? "yellow" : "green";
$(".account-button").css("background", c);
</script>
{% endblock %}
    </body>
</html>
