<!DOCTYPE html>
<html>
    <head>
{%block meta%}
<meta name="description" content="3000 примеров по математике">
<meta name="description" content="решение примеров">
<meta name="description" content="примеры по математике">
<meta name="description" content="решение онлайн">
<meta name="description" content="примеры онлайн">
{%endblock%}

        <meta charset="UTF-8">
<meta name="yandex-verification" content="aab601ee6924bd0d" />
<meta name='wmail-verification' content='a9e3c6258270a271647eefa4e21bc4fb' />
<title>
{%block base_title%}
{% block title %}Welcome!{% endblock %} || {{app_name}} || Решение примеров online
{%endblock%}
</title>
        {% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}
<script>
var P={{(jsParams ?? {})|json_encode|raw}};
</script>
    </head>
    <body>
{%block page%}
        {% block body %}
<div class="container">

{%block nav%}
              <nav class="navbar navbar-expand-lg {#navbar-dark bg-primary#} main-menu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Открыть меню">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
{%macro item(r, t)%}
                    <li class="nav-item {#active#}">
                      <a class="nav-link" href="{{path(r)}}">{{t}} {#<span class="sr-only">(current)</span>#}</a>
                    </li>
{%endmacro%}

{%from _self import item as item%}
{{item("homepage", "На главную")}}
{{item("attempt_index", "Архив попыток")}}
{%if hasActualAttempt%}
{{item("attempt_last", "Последняя попытка")}}
{%endif%}
{{item("attempt_new", "Новая попытка")}}
{{item("profile_index", "Профили настроек")}}

{%if is_granted("IS_AUTHENTICATED_REMEMBERED")%}

 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle account-button" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Аккаунт</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{path("account_edit")}}">Редактировать профиль</a>
                    <a class="dropdown-item" href="{{path("teacher_index")}}">Выбрать учителя</a>

{#
                    <a class="dropdown-item" href="{{path("account_recharge")}}">Пополнить счёт <em>({{user.money}} рублей)</em></a>
                    <a class="dropdown-item" href="{{path("account_pay")}}">
Оплатить сервис 
{%if not user.limitTime.isPast%}
<em>({{user.remainedTime.roundDays}}  дн.)</em>
{%endif%}
</a>
#}
                  </div>
                </li>


{%if is_granted("ROLE_ADMIN")%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Панель управления</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{path("admin_index")}}">Статистика</a>
                    <a class="dropdown-item" href="{{path("user_index")}}">Пользователи</a>
                    <a class="dropdown-item" href="{{path("session_index")}}">Сессии</a>
                    <a class="dropdown-item" href="{{path("ip_index")}}">Ip-адреса</a>
                    <a class="dropdown-item" href="{{path("visit_index")}}">Посещения</a>
                    <a class="dropdown-item" href="{{path("transfer_index")}}">Платежи</a>
                  </div>
                </li>
{%endif%}
{{item("fos_user_security_logout", "Выход")}}
{%else%}
{{item("fos_user_security_login", "Вход")}}
{{item("fos_user_registration_register", "Регистрация")}}
{%endif%}
                  </ul>
                </div>
              </nav>
{%endblock nav%}

<main class="main row">
{%block main ""%}
</main>

{%block guest_auth%}
{{include("widget/guest_auth.html.twig", {"h": "h4"})}}
{%endblock%}
{% endblock body%}
</div>

<footer class="{#navbar-fixed-bottom#}">
<div class="row">
{%set y=date()|date("Y")%}
<em>
© {{y != 2018 ? "2018 - " : ""}} {{y}}, VSH-Studio
</em>
<p>
Обратная связь: <a href="mailto:{{FEEDBACK_EMAIL}}">{{FEEDBACK_EMAIL}}</a>
</p>
</div>
</footer>
{%endblock%}

        {% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
<script>
var d={{user.remainedTime.roundUpDays}};
c=d == 0 ? "red" : d <=3 ? "orange" : d <= 7 ? "yellow" : "green";
//$(".account-button").css("background", c);
</script>
{% endblock %}
    </body>
</html>