{%extends 'main.html.twig'%}

{%block body%}
<h1>Меню сайта</h1>
<ul>
	<li><a href="{{path('homepage')}}">Главная страница</a></li>
<li><a href="{{path('lastTry')}}">Вернуться к последней попытке</a></li>
			<li><a href="{{path('newTry')}}">Приступить к новой попытке</a></li>
	<li><a href="{{path('archive')}}">Архив попыток</a></li>
	<li><a href="{{path('profilesList')}}">Профили</a></li>

{%if rightsChecker.isGuest()%}
<li><a href="{{path('fos_user_security_login')}}">Вход</a></li>
<li><a href="{{path('fos_user_registration_register')}}">Регистрация</a></li>
{%endif%}

{%if rightsChecker.isUser()%}
<li><a href="{{path('fos_user_security_logout')}}">Выйти</a></li>
{%endif%}
</ul>

{%block main ''%}
{%endblock%}