{% extends 'base.html.twig' %}

{% block title %}Ip{% endblock %}

{% block body %}
    <h1>Ip</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ip.id }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ ip.ip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ ip.country }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ ip.region }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ ip.city }}</td>
            </tr>
            <tr>
                <th>AddTime</th>
                <td>{{ ip.addTime ? ip.addTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ip_index') }}">back to list</a>

    <a href="{{ path('ip_edit', {'id': ip.id}) }}">edit</a>

    {{ include('ip/_delete_form.html.twig') }}
{% endblock %}