{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>email</th>
                <th>Registration time</th>
                <th>Last visit time</th>
                <th>Money</th>
                <th>All money</th>
                <th>Limit time</th>
                <th>Attempts</th>
                <th>Examples</th>
                <th>Profiles</th>
                <th>Ip collection</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.setER(uR).id }}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.addTime.dbFormat}}</td>
{%set ls=user.sessions.last%}
                <td>{{ ls ? ls.lastTime.dbFormat : "-"}}</td>
                <td>{{ user.money}}</td>
                <td>{{ user.allMoney}}</td>
                <td>{{ user.limitTime.dbFormat}}</td>
                <td>{{ user.attemptsCount}}</td>
                <td>{{ user.examplesCount}}</td>
                <td>{{ user.profilesCount}}</td>
                <td>
<ol>
{%for ip in user.ips%}
{%set info=getIpInfo(ip)%}
<li>{{ip}} - {{info.countryName}} - {{info.stateProv}} - {{info.city}}</li>
{%endfor%}
</ol>
</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
{{include("user/_delete_form.html.twig")}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}


{%block javascripts%}
{{parent()}}
<script src="/js/jquery.datatables.min.js"></script>
<script>
$("table").DataTable({
order: [4, "desc"],
});
</script>
{%endblock%}